.Applications-Tab-Container {
    display: flex;
    justify-content: space-between;    
    box-sizing: border-box;
    border: 1px white transparent;
    max-height: calc(100vh - 145px);
}

.Applications-List-Container {
    width: 50%;
    height: 100%;
    padding: 10px;
    border-right: 1px solid #bababa;    
}

.Applications-Details-Container {
    width: 50%;
    height: 100%;    
    padding: 10px;            
}

