.Applications-Tab-Container {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;        
    box-sizing: border-box;
    height: 100%;
}

.Applications-List-Container {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    padding: 10px 0 10px 10px; 
    border-right: 2px solid #bababa;                
}

.Applications-Details-Container {
    flex: 0 1 50%;       
    padding: 10px 0 0 15px;      
    overflow: auto;
}

