.Search-Bar {
    padding: 10px;       
    margin-right: 20px;
    height: 40px;
}
 
 .Search-Bar input {
     width: 70%;
     height: 30px;
     margin-right: 20px;
 }

 .Search-Bar button {
     height: 30px;
 }

 .Applications-List-Box {
    overflow: auto;
    /* max-height: calc(100vh - 57px);*/
 }

 .Application-Card {     
     padding: 10px;
     box-sizing: border-box;
     border-bottom: 2px solid rgb(27, 84, 122);
     margin-top: 5px;     
 }

 .Application-Card .Card-Title {
     font-weight: bold;
 }

 .Application-Card .Card-Description {
    font-size: 0.9rem;    
 }

 .Application-Details p {
    font-weight: bold;
    font-size: 1rem;
 }

 .Application-Details p.Title {
    font-weight: bold;
    font-size: 1.2rem;
 }

 .Application-Details div {
     padding: 0 10px 0 0;
     font-size: 0.9rem;
 }

 .Application-Details .Button {    
    width: 115px;    
    background: #043058;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: default;
}


.Application-Details .Text {
    white-space: pre-line; /* \n new line */
    /* white-space: pre-wrap; */ /* \n new line and \t tabs */
}