.Main-Content {
    width: auto;    
    padding: 10px;
}

.Main-Details-Flex-Box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;        
    max-height: calc(100vh - 56px);    
    overflow: auto;
    font-size: 1rem;    
}

.Main-Details-Flex-Box > div {
    flex: 0 46%; 
    
    box-sizing: border-box;
    /* border: 1px solid rgb(51, 91, 109);      */
    border-radius: 5px;  
    margin: 20px;  
    /* box-shadow: 6px 6px 4px #888888;   */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,2) ;
    
}

.Main-Details-Item {
    width: auto;        
    padding: 10px;        
}

.Main-Details-Label {
    font-weight: bold;
    color: rgb(6, 36, 75);
    padding: 8px 0; 
}

.Main-Details-Text {
    padding-left: 10px;
}

.Main-Details-Text ul,  .Main-Details-Text p {
    margin-top: 0;
}

.Main-Details-Text .Technology-Stack {
    padding-left: 15px;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;    
}


