.App-Main-Pane {    
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 200px);     
  max-width: 1280px;
  min-width: 1024px;
}

.App-Top-Pane {
  height: 56px;
  width: auto;
  background-color: #232f3e;
  display: flex;
}

.App-Content-Pane {  
  top: 57px;
  left: 0;
  height: calc(100vh - 57px);
  width: auto;    
  background-color:#fffafa;  
  z-index: 90;          
}