.App-Main-Pane {    
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 120px);
}

.App-Navigation-Pane {  
  height: 56px;
  width: auto;
  padding-left: 20px;  
  position: relative;
  background-color: #232f3e;
  z-index: 90;  
}

.App-Content-Pane {  
  z-index: 90;        
  height: calc(100vh - 56px);
  width: auto;    
  top: 57px;
  left: 0;
  background-color:#fffafa;  
}